{{>cabeza}}
<div class="row mt-5">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        ean13
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Modificar
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each articulos}}
                <tr>
                    <td>
                        {{this.ean13}}
                    </td>
                    <td>
                        {{this.nombre}}
                    </td>
                    <td>
                        {{this.precio}}
                    </td>
                    <td>
                        <a href="http://localhost:8080/articulo?ean13={{this.ean13}}">Modificar</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <a href="http://localhost:8080/pedidos">
            Volver a pedidos
        </a>
    </div>
</div>
{{>pie}}